.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 1000px;
    margin: auto;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form-content-left {
    background: linear-gradient(90deg, rgb(39, 176, 255) 0%, rgb(0, 232, 236) 100%);

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0 0 10px;
}

.form-img {
    width: 80%;
    height: 80%;
}

.form-content-right {
    border-radius: 0 10px 10px 0;
    background: linear-gradient(90deg, rgb(40, 40, 40) 0%, rgb(17, 17, 17) 100%);
}

.form {
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-heading {
    font-size: 2rem;
    color: #fff;
    text-align: start;
    margin-bottom: 1.6rem;
    width: 80%;
}

.form-inputs {
    width: 80%;
}

.form-input-error {
    margin-top: 4px;
    color: #f00e0e;
    font-size: 1.2rem;
}

.form-label {
    font-size: 2rem;
    display: block;
    color: #fff;
    margin: 10px 0 6px;
}

.form-input {
    display: block;
    width: 100%;
    padding-left: 10px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 2px;
}

.form-input::placeholder {
    color: #808080;
    font-size: 14px;
}

.form-input-btn {
    width: 80%;
    height: 50px;
    background: linear-gradient(90deg, rgb(39, 176, 255) 0%, rgb(0, 232, 236) 100%);
    border: none;
    outline: none;
    color: #fff;
    font-size: 2rem;
    margin-top: 20px;
}

.form-input-btn:hover {
    cursor: pointer;
    background: linear-gradient(90deg, rgb(39, 143, 255) 0%, rgb(12, 99, 250) 100%);
    transition: all 0.4s ease-out;
}

.form-input-login {
    font-size: 1.6rem;
    margin-top: 10px;
    color: #fff;
    width: 80%;
    text-align: center;
}

.form-input-login a {
    text-decoration: none;
    color: #27cdff;
}
